body {
  text-align: center;
}

.signUp {
  margin-top: 80px;
  text-align: center;
  display: inline-block;
  width: 450px;
  height: 500px;
  border: 1px solid #ddd;
}

.signUp_title {
  display: inline-block;
  width: 350px;
  padding-bottom: 20px;
  padding-top: 20px;
  border-bottom: 1px solid #ddd;
  font-size: 24px;
}

.form_box {
  display: inline-block;
  width: 350px;
}

.input_id {
  margin-top: 20px;
}

input {
  margin-top: 20px;
  width: 350px;
  border: 1px solid #ddd;
  background-color: rgb(232, 240, 254);
  padding: 5px 10px;
}

.submit {
  background-color: #0076c0;
  border: none;
  color: white;
  float: right;
  width: 80px;
}

.submit:hover {
  cursor: pointer;
}

.login {
  margin-top: 30px;
  font-size: 11px;
  width: 350px;
  text-align: center;
  display: inline-block;
  border-top: 1px solid #ddd;
  padding-top: 20px;
}

.login a {
  text-decoration: none;
  color: #0076c0;
}
